@{
    ViewData["Title"] = "ASG - Course Registration";
}

@section Style
{
    <link href="~/vendors/jquery-steps/jquery.steps.css" rel="stylesheet">
    <link href="~/vendors/jquery-steps/steps.css" rel="stylesheet">
    <link href="~/vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <style type="text/css">.required .email { }</style>
}

@section Header {
    @Html.Partial("_Header")
}

@section Sidebar {
    @Html.Partial("_Sidebar")
}

<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <h4 class="page-title">Course Registration</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body wizard-content">
                <form id="courseRegistrationForm" class="m-t-40" style="margin-top: 0;">
                    <div>
                        <h3>Contact Information</h3>
                        <section>
                            <div class="form-group">
                                <label for="addressLine1">Address Line 1 *</label>
                                @* Each input has a 'name' field only to make jquery validate work correctly *@
                                <input type="text" id="addressLine1" name="addressLine1" class="required form-control">
                            </div>
                            <div class="form-group">
                                <label for="addressLine2">Address Line 2</label>
                                <input type="text" id="addressLine2" name="addressLine2" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="city">City *</label>
                                <input type="text" id="city" name="city" class="required form-control">
                            </div>
                            <div class="form-group">
                                <label for="postCode">Post Code *</label>
                                <input type="text" id="postCode" name="postCode" class="required form-control">
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber">Phone Number *</label>
                                <input type="text" id="phoneNumber" name="phoneNumber" class="required form-control">
                            </div>
                            <p style="padding-top: 10px">(*) Mandatory</p>
                        </section>
                        <h3>Personal Details</h3>
                        <section>
                            <div class="form-group">
                                <label for="englishLevel">English Speaking Level *</label>
                                <input type="text" id="englishLevel" name="englishLevel" class="required form-control">
                                <a href="https://www.examenglish.com/CEFR/cefr.php" target="_blank">CEFR English Speaking Level Guide</a>
                            </div>
                            <div class="form-group">
                                <label for="disability">Disabilities (If applicable)</label>
                                <input type="text" id="disability" name="disability" class="form-control">
                            </div>
                            
                            <div class="form-group row">
                                @* TODO The radio buttons look a bit off, style should be changed at some point *@
                                <label class="col-md-3">Does your eyesight pass DVLA eye site standards? *<br/>
                                    <a href="https://www.gov.uk/driving-eyesight-rules" target="_blank">DVLA Eye Sight Level Guide</a></label>
                                <div class="col-md-9">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="eyeSightTrue" name="radio-stacked" required>
                                        <label class="custom-control-label" for="eyeSightTrue">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="eyeSightFalse" name="radio-stacked" required>
                                        <label class="custom-control-label" for="eyeSightFalse">No</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="placeOfBirth">Place Of Birth *</label>
                                <input type="text" id="placeOfBirth" name="placeOfBirth" class="required form-control">
                            </div>
                            <div class="form-group">
                                <label>Date of Birth *</label>
                                <div class="input-group">
                                    @* TODO If there's and error, currently it's placed next to the div, rather than the label *@
                                    <input type="text" id="dateOfBirth" name="dateOfBirth" class="required form-control" placeholder="mm/dd/yyyy">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <p style="padding-top: 10px">(*) Mandatory</p>
                        </section>
                        <h3>Course Details</h3>
                        <section>
                            <div class="form-group">
                                <label for="companyName">Company Name (If applicable)</label>
                                <input type="text" id="companyName" name="companyName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="flightExperience">Prior Flight Experience *</label>
                                <input type="text" id="flightExperience" name="flightExperience" class="required form-control">
                            </div>
                            <div class="form-group">
                                <label for="preferredLocation">Preferred Course Location *</label>
                                <select class="required form-control custom-select" id="preferredLocation" style="width: 100%; height:36px;">
                                    <option>Select</option>
                                    <optgroup label="Locations">
                                        <option value="Aberdeen">Aberdeen</option>
                                        <option value="Cardiff">Cardiff</option>
                                        <option value="Somerset">Somerset</option>
                                    </optgroup>
                                </select>
                            </div>
                            
                            @* TODO Select box based on data in DB *@
                            <div class="form-group">
                                <label for="droneMake">Drone Make *</label>
                                <input type="text" id="droneMake" name="droneMake" class="required form-control">
                            </div>
                            <div class="form-group">
                                <label for="droneModel">Drone Model *</label>
                                <input type="text" id="droneModel" name="droneModel" class="required form-control">
                            </div>
                            <p style="padding-top: 10px">(*) Mandatory</p>
                        </section>
                        <h3>Finish</h3>
                        <section>
                            @* TODO Mock up payment process using service? *@
                            
                            <input id="payment" name="payment" type="checkbox" class="required">
                            <label for="payment">I commit to pay for the course.</label> <br/>

                            <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required">
                            <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</div>


@section Scripts
{
    <script src="~/vendors/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="~/vendors/jquery-validation/dist/jquery.validate.min.js"></script> 
    <script src="~/vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/CourseRegistration/CourseRegistration.js"></script>
}