@model Domain.Entities.User

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/site.js"></script>

<script>
    
</script>

<h1>@ViewData["heading"]</h1>

<h2>@ViewData["timestamp"]</h2>

<h2>@Model.Name</h2>

<h2>Result of Web API call</h2>

<div id="result"></div>